.cell-note {
    position: relative;
}

.cell-note:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    border-left: 7px solid transparent;
    border-top: 7px solid red;
}